USE [master]
GO
/****** Object:  Database [MusicAppDB]    Script Date: 30.06.2025 12:20:57 ******/
CREATE DATABASE [MusicAppDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicAppDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MusicAppDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicAppDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MusicAppDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicAppDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicAppDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetPlaylistTotalDuration]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Kullanıcı Tanımlı Fonksiyon
CREATE FUNCTION [dbo].[fn_GetPlaylistTotalDuration] (@PlaylistID INT)
RETURNS INT
AS BEGIN DECLARE @TotalDuration INT; SELECT @TotalDuration = SUM(s.DurationSeconds) FROM PlaylistSongs ps JOIN Songs s ON ps.SongID = s.SongID WHERE ps.PlaylistID = @PlaylistID; RETURN ISNULL(@TotalDuration, 0); END
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[AlbumID] [int] IDENTITY(1,1) NOT NULL,
	[AlbumTitle] [nvarchar](100) NOT NULL,
	[ArtistID] [int] NOT NULL,
	[ReleaseYear] [int] NULL,
	[CoverImageUrl] [nvarchar](255) NULL,
	[SongCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AlbumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artists]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[ArtistID] [int] IDENTITY(1,1) NOT NULL,
	[ArtistName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ArtistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaylistAuditLog]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistAuditLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[PlaylistID] [int] NOT NULL,
	[PlaylistName] [nvarchar](100) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[PlaylistID] [int] IDENTITY(1,1) NOT NULL,
	[PlaylistName] [nvarchar](100) NOT NULL,
	[UserID] [int] NOT NULL,
	[CreationDate] [datetime] NULL,
	[CoverImageUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PlaylistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaylistSongs]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistSongs](
	[PlaylistID] [int] NOT NULL,
	[SongID] [int] NOT NULL,
	[DateAdded] [datetime] NULL,
 CONSTRAINT [PK_PlaylistSongs] PRIMARY KEY CLUSTERED 
(
	[PlaylistID] ASC,
	[SongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Songs]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Songs](
	[SongID] [int] IDENTITY(1,1) NOT NULL,
	[SongTitle] [nvarchar](150) NOT NULL,
	[AlbumID] [int] NOT NULL,
	[DurationSeconds] [int] NOT NULL,
	[AudioUrl] [nvarchar](255) NULL,
	[CoverArtUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[CreationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Albums] ON 

INSERT [dbo].[Albums] ([AlbumID], [AlbumTitle], [ArtistID], [ReleaseYear], [CoverImageUrl], [SongCount]) VALUES (1, N'Sev Yeter', 1, 1983, NULL, 1)
INSERT [dbo].[Albums] ([AlbumID], [AlbumTitle], [ArtistID], [ReleaseYear], [CoverImageUrl], [SongCount]) VALUES (2, N'Ne Haddimize', 2, 1983, NULL, 0)
INSERT [dbo].[Albums] ([AlbumID], [AlbumTitle], [ArtistID], [ReleaseYear], [CoverImageUrl], [SongCount]) VALUES (3, N'Baris Mancho', 2, 1976, NULL, 1)
SET IDENTITY_INSERT [dbo].[Albums] OFF
GO
SET IDENTITY_INSERT [dbo].[Artists] ON 

INSERT [dbo].[Artists] ([ArtistID], [ArtistName]) VALUES (1, N'Kamuran Akkor')
INSERT [dbo].[Artists] ([ArtistID], [ArtistName]) VALUES (2, N'Barış Manço')
INSERT [dbo].[Artists] ([ArtistID], [ArtistName]) VALUES (3, N'Edip Akbayram')
SET IDENTITY_INSERT [dbo].[Artists] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaylistAuditLog] ON 

INSERT [dbo].[PlaylistAuditLog] ([LogID], [PlaylistID], [PlaylistName], [DeletedBy], [DeletionDate]) VALUES (1, 1, N'favorilerim', N'BEYZ\beyz', CAST(N'2025-06-30T10:26:46.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[PlaylistAuditLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Playlists] ON 

INSERT [dbo].[Playlists] ([PlaylistID], [PlaylistName], [UserID], [CreationDate], [CoverImageUrl]) VALUES (2, N'anadolu rock ', 1, CAST(N'2025-06-30T10:26:56.037' AS DateTime), N'/media/images/372ebebf-ab81-4638-b7d1-e8212f4097c5.jpg')
INSERT [dbo].[Playlists] ([PlaylistID], [PlaylistName], [UserID], [CreationDate], [CoverImageUrl]) VALUES (3, N'favorilerim', 1, CAST(N'2025-06-30T10:35:53.893' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Playlists] OFF
GO
INSERT [dbo].[PlaylistSongs] ([PlaylistID], [SongID], [DateAdded]) VALUES (2, 1, CAST(N'2025-06-30T11:16:12.513' AS DateTime))
INSERT [dbo].[PlaylistSongs] ([PlaylistID], [SongID], [DateAdded]) VALUES (2, 3, CAST(N'2025-06-30T10:55:45.767' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Songs] ON 

INSERT [dbo].[Songs] ([SongID], [SongTitle], [AlbumID], [DurationSeconds], [AudioUrl], [CoverArtUrl]) VALUES (1, N'Sev Yeter', 1, 265, N'/media/audio/dad2e976-f94c-45cc-b636-da2527db81b1.mp3', N'/media/images/d8d4e5e3-6a16-48f0-a5e1-06d84d3ac21e.png')
INSERT [dbo].[Songs] ([SongID], [SongTitle], [AlbumID], [DurationSeconds], [AudioUrl], [CoverArtUrl]) VALUES (3, N'Little Darling', 3, 151, N'/media/audio/48cf8563-9533-41a8-a8da-2a5babfe5ad9.mp3', N'/media/images/3ee29d04-5197-48c7-9dcc-710db13a4fec.png')
SET IDENTITY_INSERT [dbo].[Songs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Email], [PasswordHash], [CreationDate]) VALUES (1, N'beyz', N'beyz@gmail.com', N'123456', CAST(N'2025-06-29T22:59:49.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534005AD61C]    Script Date: 30.06.2025 12:20:58 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F284569E375DEF]    Script Date: 30.06.2025 12:20:58 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Albums] ADD  DEFAULT ((0)) FOR [SongCount]
GO
ALTER TABLE [dbo].[PlaylistAuditLog] ADD  DEFAULT (getdate()) FOR [DeletionDate]
GO
ALTER TABLE [dbo].[Playlists] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[PlaylistSongs] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD  CONSTRAINT [FK_Albums_Artists] FOREIGN KEY([ArtistID])
REFERENCES [dbo].[Artists] ([ArtistID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Albums] CHECK CONSTRAINT [FK_Albums_Artists]
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD  CONSTRAINT [FK_Playlists_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Playlists] CHECK CONSTRAINT [FK_Playlists_Users]
GO
ALTER TABLE [dbo].[PlaylistSongs]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistSongs_Playlists] FOREIGN KEY([PlaylistID])
REFERENCES [dbo].[Playlists] ([PlaylistID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistSongs] CHECK CONSTRAINT [FK_PlaylistSongs_Playlists]
GO
ALTER TABLE [dbo].[PlaylistSongs]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistSongs_Songs] FOREIGN KEY([SongID])
REFERENCES [dbo].[Songs] ([SongID])
GO
ALTER TABLE [dbo].[PlaylistSongs] CHECK CONSTRAINT [FK_PlaylistSongs_Songs]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD  CONSTRAINT [FK_Songs_Albums] FOREIGN KEY([AlbumID])
REFERENCES [dbo].[Albums] ([AlbumID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Songs] CHECK CONSTRAINT [FK_Songs_Albums]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD  CONSTRAINT [CHK_DurationSeconds] CHECK  (([DurationSeconds]>(0)))
GO
ALTER TABLE [dbo].[Songs] CHECK CONSTRAINT [CHK_DurationSeconds]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddSongToPlaylist]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Saklı Yordamlar
CREATE PROCEDURE [dbo].[sp_AddSongToPlaylist] @PlaylistID INT, @SongID INT
AS BEGIN INSERT INTO PlaylistSongs (PlaylistID, SongID) VALUES (@PlaylistID, @SongID); END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAlbum]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Yeni Albüm Ekleme
CREATE   PROCEDURE [dbo].[sp_CreateAlbum]
    @AlbumTitle NVARCHAR(100),
    @ArtistID INT,
    @ReleaseYear INT,
    @CoverImageUrl NVARCHAR(255) = NULL,
    @NewAlbumID INT OUTPUT
AS
BEGIN
    INSERT INTO Albums (AlbumTitle, ArtistID, ReleaseYear, CoverImageUrl)
    VALUES (@AlbumTitle, @ArtistID, @ReleaseYear, @CoverImageUrl);
    SET @NewAlbumID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateArtist]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CreateArtist]
    @ArtistName NVARCHAR(100),
    @NewArtistID INT OUTPUT
AS
BEGIN
    INSERT INTO Artists (ArtistName) VALUES (@ArtistName);
    SET @NewArtistID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateSong]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Yeni Şarkı Ekleme
CREATE   PROCEDURE [dbo].[sp_CreateSong]
    @SongTitle NVARCHAR(150),
    @AlbumID INT,
    @DurationSeconds INT,
    @NewSongID INT OUTPUT
AS
BEGIN
    INSERT INTO Songs (SongTitle, AlbumID, DurationSeconds)
    VALUES (@SongTitle, @AlbumID, @DurationSeconds);
    SET @NewSongID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSongs]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetAllSongs]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        s.SongID,
        s.SongTitle,
        a.AlbumTitle,
        ar.ArtistName,
        s.DurationSeconds,
        s.AudioUrl
    FROM
        Songs s
    LEFT JOIN 
        Albums a ON s.AlbumID = a.AlbumID
    LEFT JOIN 
        Artists ar ON a.ArtistID = ar.ArtistID
    ORDER BY
        s.SongID DESC; -- En son eklenenler en üstte görünsün
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSongsInPlaylist]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetSongsInPlaylist] @PlaylistID INT
AS BEGIN SELECT s.SongID, s.SongTitle, a.AlbumTitle, ar.ArtistName, s.DurationSeconds, s.AudioUrl FROM Songs s JOIN PlaylistSongs ps ON s.SongID = ps.SongID JOIN Albums a ON s.AlbumID = a.AlbumID JOIN Artists ar ON a.ArtistID = ar.ArtistID WHERE ps.PlaylistID = @PlaylistID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserPlaylists]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserPlaylists] @UserID INT
AS BEGIN SELECT PlaylistID, PlaylistName, UserID, CreationDate, CoverImageUrl FROM Playlists WHERE UserID = @UserID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePlaylistCover]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Bir çalma listesinin kapak resmini günceller
CREATE   PROCEDURE [dbo].[sp_UpdatePlaylistCover]
    @PlaylistID INT,
    @CoverImageUrl NVARCHAR(255)
AS
BEGIN
    UPDATE Playlists
    SET CoverImageUrl = @CoverImageUrl
    WHERE PlaylistID = @PlaylistID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePlaylistName]    Script Date: 30.06.2025 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdatePlaylistName]
    @PlaylistID INT,
    @NewPlaylistName NVARCHAR(100)
AS
BEGIN
    UPDATE Playlists
    SET PlaylistName = @NewPlaylistName
    WHERE PlaylistID = @PlaylistID;
END
GO
USE [master]
GO
